
.simplemenu-block {
  height: 50px;
}
#simplemenu {
  background: #242d3a;
  color: #333;
  font: 11px "Helvetica Neue", Helvetica, Arial, Verdana, sans-serif;
  width: 100%;
  height: 50px;
  text-align: left;
}
#simplemenu .simplemenu-separator {
  display: block;
  margin: 0;
  border-left: 1px solid #eee;
  border-right: 1px solid #999;
  border-top: 1px solid #999;
  border-bottom: 1px solid #ddd;
  height: 2px;
}
#simplemenu a {
  color: #ddd;
  text-decoration: none;
  line-height: 50px;
  background: #242d3a;
  /*border-right: 1px solid #999;*/
  /*border-left: 1px solid #eee;*/
  padding: 0 10px;
  width: auto;
}
#simplemenu li {
  background: #242d3a;
  text-align: left;
}
#simplemenu li.expanded > a {
  /*background: url(right-green.gif) no-repeat 97%;*/
  padding-right: 2em;
}
#simplemenu li.root > a {
  font-weight: 700;
  /*background: url(down-green.gif) no-repeat 97%;*/
}
#simplemenu li:hover,
#simplemenu li.sfHover,
#simplemenu a:focus,
#simplemenu a:hover,
#simplemenu a:active {
  background: #415366;
  color: #fff;
}
#simplemenu li:hover .simplemenu-separator,
#simplemenu li.sfHover .simplemenu-separator {
  background: #ddd;
}
#simplemenu li:hover ul,
ul#simplemenu li.sfHover ul {
  border-top: 1px solid white;
  border-bottom: 1px solid #999;
}
#simplemenu li ul a {
  /*height: auto;*/
  height: 30px;
  line-height: 30px;
}

/* vim: ts=2 sw=2 et syntax=css
*/
